  <div class="nes-container is-rounded">
      <p>Round: {{log.round}}</p>
      <p>Damage taken: -{{log.damage}}</p>
      <label for="file">Life:</label><progress id="file" max="{{fighter.hp}}" value="{{log.hp}}"></progress>
  </div>
