{% include 'header.html.twig' %}

<div class="form-row">
  <div class="col">
    <div class="md-form">
      <input type="text" id="char-firstname" class="form-control">
      <label for="form1">First Name</label>
    </div>
  </div>

  <div class="col">
    <div class="md-form">
      <input type="text" id="char-lastname" class="form-control">
      <label for="form1">Last Name</label>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <div class="md-form">
      <input type="text" id="char-weight" class="form-control">
      <label for="form1">Weight</label>
    </div>
  </div>

  <div class="col">
    <div class="md-form">
      <input type="text" id="char-size" class="form-control">
      <label for="form1">Size</label>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <div class="md-form">
      <input type="text" id="char-hp" class="form-control">
      <label for="form1">HP</label>
    </div>
  </div>

  <div class="col">
    <div class="md-form">
      <input type="text" id="char-attack" class="form-control">
      <label for="form1">Attack</label>
    </div>
  </div>

  <div class="col">
    <div class="md-form">
      <input type="text" id="char-def" class="form-control">
      <label for="form1">Def</label>
    </div>
  </div>

  <div class="col">
    <div class="md-form">
      <input type="text" id="char-agility" class="form-control">
      <label for="form1">Agility</label>
    </div>
  </div>
</div>

{% include 'footer.html.twig' %}
