{% extends 'base.html.twig' %}

{% block css %}
{{ parent() }}
<link href="{{dir}}/src/css/form.css" rel="stylesheet">
{% endblock %}

{% block main %}
<form id="newMstr" method="post" action="monsters">

    <div class="nes-field">
        <label for="name">Name</label>
        <input type="text" id="name" class="nes-input">
    </div>

    <div class="nes-field">
        <label for="weight">Weight</label>
        <input type="number" id="weight" class="nes-input">
    </div>

    <div class="nes-field">
        <label for="size">Size</label>
        <input type="number" id="size" class="nes-input">
    </div>

    <div class="nes-field">
        <label for="hp">Health</label>
        <input type="number" id="hp" class="nes-input">
    </div>

    <div class="nes-field">
        <label for="attack">Attack</label>
        <input type="number" id="attack" class="nes-input">
    </div>

    <div class="nes-field">
        <label for="def">Defense</label>
        <input type="number" id="def" class="nes-input">
    </div>

    <div class="nes-field">
        <label for="Agility">Agility</label>
        <input type="number" id="agility" class="nes-input">
    </div>

    <div class="custom-file">
        <input type="file" id="img" name="img" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="img">Select image</label>
    </div>

    <button type="submit" class="nes-btn is-primary">Primary</button>
</form>
{% endblock %}
