.fight-view{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

div.select-char , div.select-monster{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1.5em auto !important;
  background: rgba(255, 255, 255, 0.69);
}

.select-char:hover, .select-monster:hover{
  background: white;
}

.select-char .name, .select-monster .name{
  display: flex;
}

.is-selected{
  background: white !important;
}

.select-char .name > p, .select-monster .name > p{
  margin: .6em;
}

.select-char .stats, .select-monster .stats{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.select-char .stats > p, .select-monster .stats > p{
  margin-left: .7em;
}

.select-char .stats > p:after, .select-monster .stats > p:after{
  content: '|';
}

.select-char .stats > p:last-child:after, .select-monster .stats > p:last-child:after{
  content: none;
}
