body > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fighter {
    border-radius: 8px;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2% 1%;
    padding: 2%;
}

.fighter img {
    max-height: 10vh;
    margin-top: -1em;
}
.stats > div{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.icon:before{
  position: absolute;
  background-size: 1.5em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content:"";
  margin-left: -1.7em;
  margin-top: 0em;
}

.hp:before{
  background-image: url('../img/icons/heart.png');
}

.att:before{
  background-image: url('../img/icons/sword.png');
}

.def:before{
  background-image: url('../img/icons/shield.png');
}

.wt:before{
  background-image: url('../img/icons/weight.png')
}

.agi:before{
  background-image: url('../img/icons/agility.png')
}

.sz:before{
  background-image: url('../img/icons/size.png')
}

.fighter > .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fighter .fighter-name {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
