body > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fighter {
    display: grid;
    grid-template-rows: auto 1em auto 1em 1em;
    grid-gap: .4em;
    background-color: white;
    margin: 2% !important;
}

.fighter > img {
    grid-row: 1;
    max-height: 4em;
    margin: 0 auto;
}

.stats > div{
    flex-direction: row;
    display: flex;
    justify-content: flex-flex-start;
}

.fighter-editor{
  text-align: center;
}

.fighter > .stats p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}

.fighter > .stats div{
  margin: .2em;
}

.fighter > .stats {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fighter > .stats img{
  max-height:  2em;
  margin-right: 1em;
}

.fighter .fighter-name {
    grid-row: 2;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fighter .fight-stats {
    display: flex;
    justify-content: space-around;
}
