html {
  margin: 0;
  padding: 0;
}

img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
  max-width: 100%;
}

img {
  height: auto;
  width: auto;
}

/**
 * DEFAULT BODY
 */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: pink;
}

/**
 * DEFAULT HEADER
 */
header {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  z-index: 2;
}

div.navbar {
  font-size: 2em;
  border-bottom: 3px solid black;
  background: white;
  box-shadow: none;
}

div.navbar a {
  color: black;
}

div.navbar .title{
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

div.navbar > #authentification {
    font-size: 1.5em;
}

/**
 * DEFAULT #MAIN
 */
#main {
  flex-grow: 1;
  overflow: auto;
}

/**
 * DEFAULT FOOTER
 */
footer {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  z-index: 999;
}

a{
  text-decoration: none;
}

@media screen and (min-width: 992px) {
    div.navbar {
        font-size: 1em;
    }
    div.navbar > #authentification {
        font-size: 1.5em;
    }
}
